@model eLConsultation.Data.ResetPasswordItem
@{
    ViewBag.Title = "Վերականգնել գաղտնաբառը";
    Layout = "_LayoutLogin.cshtml";
}


<div class="card-body">
    <h2 class="text-center">Փոխել գաղտնաբառը</h2>
    <p class="text-muted">Մուտքագրեք տվյալները</p>
    @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" style="border-radius:0">
                    <i class="icon-envelope"></i>
                </span>
                @Html.Kendo().TextBoxFor(m => m.Email).HtmlAttributes(new { @class = "form-control", placeholder = "Էլ․ փոստի հասցե" })
            </div>
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" style="border-radius:0">
                    <i class="icon-lock"></i>
                </span>
                @Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { @class = "form-control", type = "password", placeholder = "Գաղտնաբառ" })
            </div>
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" style="border-radius:0">
                    <i class="icon-lock"></i>
                </span>
                @Html.Kendo().TextBoxFor(m => m.ConfirmPassword).HtmlAttributes(new { @class = "form-control", type = "password", placeholder = "Հաստատել գաղտնաբառը" })
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary px-4">Վերականգնել գաղտնաբառը</button>
            </div>
            <div class="col-12">
                @Html.ValidationSummary("Առկա են խնդիրներ")
            </div>
        </div>
    }
</div>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#Email, #Password, #ConfirmPassword").removeClass("k-textbox");
        $(".validation-summary-errors").addClass("bg-warning")
        $(function () {
            var errTmplt = '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em; padding:3px 5px;"><span class="fa fa-exclamation-triangle"></span> #=message#<div class="k-callout k-callout-n"></div></div>';
            var validator = $("form").kendoValidator({
                errorTemplate: errTmplt
            }).data("kendoValidator");

            $("form").submit(function (event) {
                if (!validator.validate()) {
                    return false;
                }
            });
        });
    </script>
}







