@model eLConsultation.Data.CompanyItem

@{
    ViewBag.Title = "Կազմակերպություն";
    Layout = "~/Views/Shared/_LayoutNull.cshtml";
}

@using (Html.BeginForm("SaveCompany", "TypeConsultation", FormMethod.Post, new { id = "frmCompany" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CompanyID)
    @Html.HiddenFor(model => model.InitializationType)

    <div class="container-maxwidth500">
        <div class="card">
            <div class="card-header">
                <h5 style="color:#21A8D8; text-align:center">@ViewBag.Title</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.CompanyName, new { @class = "control-label" })
                    @Html.Kendo().TextBoxFor(model => model.CompanyName).HtmlAttributes(new { @class = "form-control" })
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" id="btnSave" class="btn btn-sm btn-primary"><i class="icons icon-check"></i>&nbsp;Հիշել</button>
                <button type="button" class="btn btn-sm btn-secondary" onclick="location.href='@Url.Action("CompanyDispatcher", "TypeConsultation")'"><i class="icons icon-close"></i>&nbsp;Չեղարկել</button>
                @Html.ValidationSummary("Առկա են խնդիրներ")
            </div>
        </div>
    </div>
}
<div id="errors"> </div>
<script>
    $(".validation-summary-errors").addClass("bg-warning")
    $("form").kendoValidator({
        errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation" style="margin:0.5em; padding:3px 5px;"><span class="fa fa-exclamation-triangle"></span> #=message#<div class="k-callout k-callout-n"></div></div>', // change the default message container to show only an *
        validate: function (e) { // handle the validate event to build the error list
            var html = "";
            if (!e.valid) {

                var errors = this.errors();
                html += "<ul>";
                for (var i = 0; i < errors.length; i++) {
                    html += "<li>" + errors[i] + "</li>";
                }

                html += "</ul>";
            }
            $("#errors").empty().append($(html));
        }
    });
</script>